@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';

@source '../node_modules/@exomatique/editor/dist';
@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

input:-webkit-autofill {
	background-color: var(--color-surface-900) !important;
	box-shadow: 0 0 0px 1000px var(--color-surface-900) inset !important;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
	input:-webkit-autofill {
		@apply !bg-white !text-black;
	}
}
